<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="SorterServiceConfiguration" type="ConfigSection.BCLConfigurationSection,ConfigSection" />
  </configSections>

  <SorterServiceConfiguration>
    <culture name="ru-Ru"></culture>
    <defaultDirectory path="D:\junk\default"/>
    <listenDirectories>
      <listenDirectory path="D:\test"/>
      <listenDirectory path="D:\test1"/>
    </listenDirectories>
    <rules addIndexNumber="true" addCreationDate="true">
      <rule fileNameRegexPattern="[a-c]" destinationPath="D:\junk\rule1"/>
      <rule fileNameRegexPattern="[d-k]" destinationPath="D:\junk\rule2"/>
    </rules>
  </SorterServiceConfiguration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>